
<%# A quick single field form that appears on the crafting interface %>


<form id="boothName_Form">
    <input type="text" name="booth_name" style="width: 130px;">
    <a href="javascript:;" class="greenbtn btn" onclick="MapMaker.booth.dismiss_name_form()"><i class="fa fa-check"></i></a>
    <a href="javascript:;" class="redbtn btn" onclick="MapMaker.booth.dismiss_name_form()"><i class="fa fa-times"></i></a>
</form>