

<div id="mouseTools">
    <button class="tool" data-type="rectangle"><i class="fa fa-square-o"></i></button>
    <button class="tool selectedTool" data-type="select"><i class="fa fa-mouse-pointer"></i></button>
    <button class="tool" data-type="infoselect"><i class="fa fa-mouse-pointer"></i></button>
    <button class="tool" data-type="eraser"><i class="fa fa-eraser"></i></button>
</div>