
<%# shown while saving and prevents future presses until done saving %>
<div class="strong_overlay">

    <div id="saving" class="craft_tip up">
        <div class="triangle arrow-up"></div>
        <div id="currentlySaving"><i class="fa fa-spinner fa-spin"></i> Saving your process...</div>
        <div id ="saveSuccess"><i class="fa fa-check"></i> Save successful</div>
        <div id="saveError"><i class="fa fa-exclamation-circle"></i> Something went wrong</div>
    </div>
</div>
