
<div id="toolBar">
    <button class="tool" data-type="rectangle">Rectangle</button>
    <button class="tool" data-type="eraser">Eraser</button>
    <button class="tool" data-type="select">Select</button>

    <%= render partial: 'vendors/vendor_craft', locals: {vendors: @vendors} %>
</div>

<div id="workArea_container">
    <div id="workArea">
        <% @booths.each do |booth| %>
            <%= content_tag :div, "", class: "booth", style: "left:#{booth.x_pos}px; top:#{booth.y_pos}px; width:#{booth.width}px; height:#{booth.height}px", "data-id": "#{booth.id}" %>
        <% end %>
    </div>
</div>

<button id="save">Save</button>

<%= javascript_include_tag "mapMaker.js" %>