
<%# DELETE THIS BLOCK LATER, JUST USING TO TEST THAT 'DRAWN' DIVS ARE POSITIONED RIGHT %>
<div class="block"></div>

<div id="workArea">
</div>

<button id="save">Save</button>

<%= javascript_include_tag "mapMaker.js" %>