<div class="row" id="footer">
  <div class="col-xs-6"></div>

  <div id="backToTop" class="col-xs-3">
    <p>
        <a href="#">Back to Top</a>
    </p>
  </div>

  <div id="footer_info" class="col-xs-3">
    <p>Beacon©<br>67475 IS@CMU</p>
  </div>

</div>