<section id="signup">
    <h3>Sign up</h3>
    <p>
        Got your own convention? We have you covered. Sign up to organize, draw, and distribute your own maps for your guests!
    </p>
    <%= render 'form' %>
</section>


