<section id="faq">

<h3>Beacon Tutorial & FAQ </h3>
<p>
    Don't know how to take full advantage of Beacon? Want to quickly learn how to get in on the map making? Look no further.
</p>
<hr />

<h3>Tutorial</h3>
<ul class="unordered">
    <li>
        <h4>Step 1: Make a convention</h4>
        <p>
            Before you can go about making maps, you need to make a convention.
            <br />
            What's a convention? It could be a food festival! A job fair! Basically any event where people offer services, and people attend!
            <br />
            From the home page, click on the “Make your own” link. 
            [Screen shot]
            <br />
            This will take you to the form below. Fill it in with the appropriate information. 
            [screenshot]
            <br />
            Click confirm to create your new convention. Once you’ve successfully created a convention, you should see the following screen.
            [screenshot]
        </p>
    </li>

    <li>
        <h4>Step 2: Make a Map</h4>
        <p>
            Now that you’ve successfully created a convention, it’s time to create a map for it. 
            [screenshot]
            <br />
            Click on the “Start adding some now!” link to start making a map. You’ll be taken to the map making tool from here.
            [screenshot]
            <br />
            Before you begin drawing, you’ll need to fill out some information about the map. Do so, and then click “Confirm.”
            [screenshot]
        </p>
    </li>

    <li>
        <h4>Step 3: Draw Some Booths</h4>
        <p>
            The first thing you’ll need to is draw some booths for your new map. Click on the [square] tool to begin drawing. 
            [screenshot]
            <br />
            If you need to move your booth, click on the [black arrow] to do so. 
            [screenshot]
            <br />
            Made a mistake? Use the [eraser] tool to get rid of a booth you’ve drawn. 
            [screenshot]
            <br />
            To view information about a booth you’ve drawn, select the [white arrow] tool and then right-click on the booth you’re interested in. 
            [screenshot]
            <br />
            While you’re working, make sure to save your work using the [green save] button.
        </p>
    </li>

    <li>
        <h4>Step 4: Create Vendors</h4>
        <p>
            Now that you’re done drawing your booths, it’s time to make some vendors. Click on the [+] button in the Vendors sidebar. 
            <br />
            Fill out the appropriate information about the vendor. Once you’ve made a vendor, it should now appear in the Vendors sidebar.
            <br />
            If you’ve made a mistake while creating the vendor or would like to verify the information you’ve entered, simply click on the vendor’s name in the Vendors sidebar.
        </p>
    </li>

    <li>
        <h4>Step 5: Assign a Vendor to a Booth</h4>
        <p>
            Now it’s time to assign the new vendor to a booth. Click on the vendor in the sidebar and drag it to the booth you want to assign it to. 
            <br />
            Once you let go, a pop up will appear, prompting you to specify the range of time for this booth assignment. Fill this out and click “Confirm”. 
            <br />
            Now, when you right-click on the booth with the [white arrow] tool, it should show that the booth is assigned to your new vendor. 
            <br />
            Note: You can use the [eye] tool in the Vendors sidebar to highlight vendors’ booths on the map. 
            <br />
            If you want to undo a booth assignment, right-click on the booth with the [black arrow] tool and select “Remove vendor from this booth.”
        </p>
    </li>

    <li>
        <h4>Step 6: Create Tags and Assign Them to Vendors</h4>
        <p>
            Now that you’ve assigned vendors to booths, it’s time to add some tags.
            <br />
            Click on the [+] button in the Tags sidebar to create a new tag. 
            <br />
            Choose the name of the tag and select the vendors you’d like to assign it to. Click submit to 
            <br />
            To view a list of the vendors who’ve been assigned a specific tag, simply click on that tag in the Tags sidebar.
            <br />
            If you’d like to edit the name of a tag or change who it’s been assigned to, simply click on the [pencil] tool int Tags sidebar.
        </p>
    </li>

    <li>
        <h4>Step 7: Make More Maps (Optional)</h4>
        <p>
            Once you’ve finished making a map, click [Done] to return to the convention’s page. 
            <br />
            From here, you can start drawing another map by following the same process. A convention can have as many maps as needed. 
            <br />
            Now that you’re done reading the tutorial, click [here -> home page] to get started. 
        </p>
    </li>
</ul>

<hr />

<h3>FAQ</h3>
<h4>What is Beacon?</h4>
<p>
    Beacon is a web application that helps you make interactive maps for events, such as conventions, fairs, etc.
</p>

<h4>I’m confused and don’t know what to do next.</h4>
<p>
    Check out the tutorial above, which will walk you through the process of using Beacon.
</p>

<h4>What exactly are “vendors”?</h4>
<p>
    Vendors are the people/entities who will be using the booths at your event. If you’re planning a job fair, then vendors are the various companies that are coming to recruit. If you’re running a food festival, it’s the various restaurants and parties serving food at at the event.
</p>

<h4>What is the purpose of these “tags”?</h4>
<p>
    Tags are used to help categorize and filter vendors. For example, suppose someone wanted to find all the vendors at a food fair that are vegetarian friendly. They can choose to view only those booths that have been assigned a “vegetarian” tag.
    <br />
    Tags are flexible and can be chosen by the event organizers to best serve their needs. Some examples of events and their corresponding tags are included below:
    <br />
    <strong>Job fairs:</strong> Full-time, Internship, Engineering, Domestic Students Only<br />
    <strong>Food fairs:</strong> Vegetarian, Spicy, Fast Food
</p>

</section>
