<!-- First section - Home -->
<div id="home">
  <div class="text-vcenter">
    <h1>Beacon</h1>
    <h3>Find your way through a crowd</h3>
    <a href="#signup" class="btn btn-default btn-lg">Browse conventions</a><br />
    <a href="#signup" class="btn btn-default btn-lg">Make your own</a>
  </div>
</div>

<!-- Second section - About -->
<div id="about">
  <div class="container">
    <h2 class="text-center">What can Beacon do for you?</h3>
    <div class="row text-center">
      <div class="col-sm-5">
        <h4>As an attendee...</h4>
        <p>Mauris et sem viverra arcu faucibus sagittis eu quis dui. Pellentesque vitae mattis ex. Duis cursus velit vel pharetra maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eleifend sapien sit amet mattis efficitur. Curabitur dapibus ut mi sit amet molestie. Aliquam ultrices metus erat, a fermentum urna congue sodales.</p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <h4>Organizers, rejoice!</h4>
        <p>Fusce molestie id dui vel faucibus. Nulla facilisi. Sed turpis erat, posuere at tempor sit amet, eleifend non nunc. Mauris nec lacus a sem consectetur euismod. Donec imperdiet ornare quam, vel ultricies orci posuere vitae. Pellentesque tempus maximus euismod. Integer lorem erat, aliquam viverra tristique id, lacinia blandit est.</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
<div id="container">
  <p class="text-right">Beacon®</p>
</div>

</footer>
