    <%= stylesheet_link_tag 'application' %> 
    <%= javascript_include_tag 'application' %> 

<style>
  body { background-color:lightgray !important;overflow-x:hidden;padding-top: 0px !important}
  .top-button {
    position:absolute;
    width: 50%;
    left:25%;
    background:#0069D3;
    color:white;
    border:1px none;
    border-radius:2px;
    height:25px;
    font-size:11px
  }
  .description-header {
    font-size: 15px; 
    margin-left: 10%; 
    width: 80%; 
    line-height: 2.3; 
    border-bottom: 1px solid rgb(219, 0, 26); 
    color: rgb(219, 0, 26); 
    font-weight: 500;
  }
  .description {
    font-size: 9px;
    margin-bottom: 20px;
    margin-left:10%;
    width: 80%;
    line-height:1;
    color: #232F3E
  }
</style>

<nav class="navbar navbar-default"style="background:#041B28;border-color:#041B28;margin-bottom:0px;" role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <p class="nav navbar-text navbar-right" style="float:right !important;">
    <a style="color:white"href=#>Login</a>
  </p>
  </div>
</nav>
<div


<div class="row">
  <div class="col-md-12" style="height:250px;background:#041B28;">
    <a href="conventions"> <div class="button top-button" style="bottom: 60px;">Browse Conventions</div></a>
    <a href="#" ><button class="top-button" style="bottom: 20px;">Make Your Own</button></a>
  </div>
</div>
<div class="row" style="background:#F8F5F2">
    <p class="description-header">As an atendee...</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row">
    <p class="description-header">Organizers, rejoice!</p>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="row" style="height:50px;background:#041B28;">
  <div class="col-xs-6">
  </div>
  <div style="color: white; border-right: 1px solid white; height: 20px; font-size: 10.5px; top: 15%;" class="col-xs-3">
    <p style="font-size: smaller; width: 100px; color: white;"><a style="color: white;" href="#">Back to Top</a></p>
  </div>
  <div style="color: white; font-size: 9px;top:10%" class="col-xs-3">
    <p style="font-size: smaller; line-height: 14px;">Beacon©<br>67475ISCMU</p>
  </div>
</div>

 <script>
document.getElementsByClassName('navbar-fixed-top')[0].remove();
</script>
