
<span id="homeContainer">
<!-- First section - Home -->
<div id="home">
  <div class="text-vcenter">
    <%= image_tag("beacon_logo_m.png", :class => "logo") %>
    <h1>Beacon</h1>
    <h3>Find your way through a crowd</h3>
    <%= link_to "Browse conventions", conventions_path, class: 'btn btn-default btn-lg' %><br />
    <%= link_to "Make your own", new_convention_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>

<!-- Second section - About -->
<div id="about">
  <div class="container">
    <h2 class="text-center">What can Beacon do for you?</h2>
    <div class="row text-center">
      <div class="col-sm-5">
        <h4 class="description-header">As an attendee...</h4>
        <p>Mauris et sem viverra arcu faucibus sagittis eu quis dui. Pellentesque vitae mattis ex. Duis cursus velit vel pharetra maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus eleifend sapien sit amet mattis efficitur. Curabitur dapibus ut mi sit amet molestie. Aliquam ultrices metus erat, a fermentum urna congue sodales.</p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <h4 class="description-header">Organizers, rejoice!</h4>
        <p>Fusce molestie id dui vel faucibus. Nulla facilisi. Sed turpis erat, posuere at tempor sit amet, eleifend non nunc. Mauris nec lacus a sem consectetur euismod. Donec imperdiet ornare quam, vel ultricies orci posuere vitae. Pellentesque tempus maximus euismod. Integer lorem erat, aliquam viverra tristique id, lacinia blandit est.</p>
      </div>
    </div>
</div>
</span>

