<div class="container-fluid">
    <div class="row" id="introBanner">
        <div class="col-xs-12">
            <div class="introContainer text-vcenter">
                Find your way around<br />
                <h1></h1><em>|</em>
            </div>
        </div>
    </div>

    <div class="row">
    </div>
</div>



<!-- Second section - About -->
<div id="about">
  <div class="container">
    <h2 class="text-center">What can Beacon do for you?</h2>
    <div class="row text-center">
      <div class="col-sm-5">
        <h4 class="description-header">As an attendee...</h4>
        <p>No longer will you have to wander aimlessly amongst a crowded convention. With Beacon®, you can see the entire layout on a mobile-friendly map. See what vendors and companies are there, where they are located, and pull up information about each on the go. Plan your route ahead of time, or even look at the action live! With our help, you can beat the crowds and keep track of where you've already visited.</p>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <h4 class="description-header">Organizers, rejoice!</h4>
        <p>Plan the layout of your convention all through our quick and easy map creation tool. Organize the floorplan of a busy room or even design the blueprints for your outdoor festival. With our help you can quickly draw up what the convention will look like and assign vendors to specific locations, and designate times for when they are stationed there. The attendees as your next event will be blown away by your preparation!</p>
      </div>
    </div>
</div>
</span>
<%= link_to "Browse conventions", conventions_path, class: 'btn btn-lg' %>
<%= link_to "Make your own", signup_path, class: 'btn btn-lg' %>
