
<%# Tag overlay form %>
<div class="overlay">
    <form id="tag_form" class="jsForm">
        <h3>Tag Form</h3>
        <div class="error">
            <i class="fa fa-exclamation-circle"></i> Please enter a name for the tag
            <a href="javascript:;" class="dismiss_error">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <a href="javascript:;" class="close_overlay">
            <i class="fa fa-times"></i>
        </a>
        <div class="jsForm_fields">
            <ul class="unordered row">
                <li>
                    <label for="tag_name">Name</label>
                    <input type="text" name="tag_name">
                </li>
            </ul>
            <h4>Assign to Vendors</h4>
            <ul class="assign_vendortags row unordered">
                <%# Gets populated by JS %>
            </ul>
        </div>
        <div class="row jsForm_actions">
            <button id="tag_form_submit" class="btn greenbtn">Submit</button>
            <button class="close_overlay redbtn btn">Cancel</button>
        </div>
    </form>
</div>
