
<%# Tag overlay form %>
<div class="overlay">
    <form id="tag_form" class="jsForm">
        <h3>Tag Form</h3>
        <div class="error">
            Please enter a name for the tag
        </div>
        <a href="javascript:;" class="close_overlay">
            <i class="fa fa-times"></i>
        </a>
        <ul class="unordered">
            <li>
                <label for="tag_name">Name</label>
                <input type="text" name="tag_name">
            </li>
        </ul>
        <button id="tag_form_submit">Submit</button>
        <button class="close_overlay">Cancel</button>
    </form>
</div>
