<div id="tag_craft">
    <div id="tag_header">
        <button id="toggle_tags"><i class="fa fa-tag"></i> Tags</button>
        <button id="add_tag" class="jsAdd">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing tags %>
    <div id="tag_list">
        <ul class="unordered">
            <% @tags.each do |tag| %>
                <li data-id="<%= tag.id %>">
                    <div class="tagshow">
                        <a href="" class="tag_name"><%= tag.name %></a> 
                        <div class="tag_options">
                            <a href="" class="update_tag"><i class="fa fa-pencil"></i></a>
                            <a href="" class="destroy_tag"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                    <ul class="tagshow_extra">
                        <% tag.vendors.each do |vendor| %>
                        <li class="vendorTag" data-id="<%= vendor.id %>">
                            <%= vendor.name %>
                        </li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </div>

</div>