<div id="tag_craft">
    <div id="tag_header">
        <button id="toggle_tags"><i class="fa fa-tag"></i> Tags</button>
        <button id="add_tag" class="jsAdd">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing tags %>
    <div id="tag_list">
        <ul class="unordered">
            <% @tags.each do |tag| %>
                <li data-id="<%= tag.id %>">
                    <%= tag.name %> 
                    <div class="tag_options">
                        <a href="" class="update_tag"><i class="fa fa-pencil"></i></a>
                        <a href="" class="destroy_tag"><i class="fa fa-trash"></i></a>
                    </div>
                    <input type="hidden"> <%# Where we jankily store vendortags %>
                </li>
            <% end %>
        </ul>
    </div>

</div>