<div id="tag_craft">
    <div id="tag_header">
        <button id="toggle_tags"><i class="fa fa-tag"></i> Tags</button>
        <button id="add_tag" class="jsAdd">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing tags %>
    <div id="tag_list">
        ASDFASD
        <ul class="unordered">
            <% tags.each do |tag| %>
                <li data-id="<%= tag.id %>">
                    <% tag.name %>
                </li>
            <% end %>
        </ul>
    </div>

</div>