<div id="tag_craft">
    <div id="tag_header">
        <button id="toggle_tags"><i class="fa fa-tag"></i> Tags</button>
        <button id="add_tag" class="jsAdd">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing tags %>
    <div id="tag_list">
        <ul class="unordered">

            <% if @tags.size < 1 %>

                <li class="no_models">
                    <i class="no_models fa fa-tag"></i><br />
                    <strong>No tags yet!</strong>
                    <p>
                        A tag is what your attendee will be filtering with - make them relevant! For example, a tag could be "spicy" for a food truck offering spicy food.
                    </p>
                </li>

            <% else %>

                <% @tags.each do |tag| %>
                    <li data-id="<%= tag.id %>" class="tag">
                        <div class="tagshow">
                            <a href="javascript:;" class="tag_name"><%= tag.name %></a> 
                            <div class="tag_options">
                                <a href="javascript:;" class="update_tag"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:;" class="destroy_tag"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                        <ul class="tagshow_extra">
                            <% tag.vendors.each do |vendor| %>
                            <li class="vendorTag" data-id="<%= vendor.id %>"><%= vendor.name %></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>

            <% end %>
        </ul>
    </div>

</div>