<div id="tag_craft">
    <div>
        <button id="toggle_tags">Tags</button>
        <button id="add_tag">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing tags %>
</div>