
<%# A form that is ultimately manipulated by the map crafting page %>

<form id="vendorbooth_form">
    <label for="vendorbooth_starttime">Start:</label>
    <input type="text" name="vendorbooth_starttime" class="vendor_name">

    <label for="vendorbooth_endtime">End:</label>
    <input type="text" name="vendorbooth_endtime">

    <button></button>
    <button></button>

</form>