
<%# A form that is ultimately manipulated by the map crafting page %>
<div class="overlay">
    <form id="vendorbooth_form">
        <h4>Schedule</h4>
        <div class="error">
            <i class="fa fa-exclamation-circle"></i> There is something wrong with your fields
        </div>

        <ul class="unordered">
            <li>
                <label for="vendorbooth_starttime">Start:</label>
                <input type="text" name="vendorbooth_starttime" class="datetimepicker">
            </li>

            <li>
                <label for="vendorbooth_endtime">End:</label>
                <input type="text" name="vendorbooth_endtime" class="datetimepicker">
            </li>
        </ul>
        
        <div class="jsForm_actions">
            <button id="vendorbooth_form_submit" class="greenbtn btn"><i class="fa fa-check"></i></button>
            <button class="close_overlay redbtn btn"><i class="fa fa-times"></i></button>
        </div>

    </form>
</div>