<div id="vendor_craft">
    <div>
        <button>Vendors</button>
        <button id="add_vendor">
            <i class="fa fa-plus"></i>
        </button>
    </div>

    <%# Listing existing vendors %>
    <div id="vendor_list">
        <ul class="unordered">
            <% vendors.each do |vendor| %>
                <li data-id="<%= vendor.id %>">
                    <div class="vendorshow">
                        <%= vendor.name %>
                    </div>
                    <div class="vendorshow_extra">
                        <strong>URL: </strong> <%= vendor.website_url %> <br />
                        <strong>Description: </strong> <%= vendor.description %>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="overlay">
        <form id="vendor_form">

            <div class="error">
                Please enter a name for the vendor
            </div>

            <a href="#" class="close_overlay">
                <i class="fa fa-times"></i>
            </a>

            <ul class="unordered">
                <li>
                    <label for="vendor_name">Name</label>
                    <input type="text" name="vendor_name">
                </li>

                <li>
                    <label for="vendor_url">URL</label>
                    <input type="text" name="vendor_url">
                </li>

                <li>
                    <label for="vendor_desc">Description</label>
                    ​<textarea id="txtArea" rows="10" name="vendor_desc"></textarea>
                </li>
            </ul>

            <button id="vendor_form_submit">Submit</button>
            <button class="close_overlay">Cancel</button>
        </form>
    </div>

</div>
