/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery.datetimepicker
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

ul.unordered {
    list-style: none;
    margin: 0;
    padding:0;
}

.noPad {
    padding:0;
}

body { // Don't want bootstrap nav bar obscuring top 50px of content lol
    margin:0;
    padding-top: 50px;
    overflow-x:hidden;
    background-color: #041B28 !important;
}

.main {
    background:#f8f5f2;
    min-height: 600px;
}
.main a {
    color: #e43046  
}
.row {
    margin:0;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

hr {
    border-bottom: 1px solid #0069d3;
}

// IF YOU WANT YOUR THING TO HAVE PADDING, put it in a <section></section> tag!
section {
    padding:10px;
}

    // ------------------------------------------------------------
////// HEADER TEXTS
    // ------------------------------------------------------------

h3 {
    font-size: 18px;
    text-shadow: initial;
}
h4 {
    font-weight: 200;
    font-size: 16px;
}

    // ------------------------------------------------------------
////// RESUABLE BUTTON STYLES
    // ------------------------------------------------------------

.greenbtn {
    font-family: sans-serif;
    border: 0;
    background-color: #64b52c;
    border-bottom: 3px solid #2a7a00;
    color: white;
}
a.greenbtn { color: white; }
.greenbtn:hover { 
    background-color: #5aa227;
    color: white;
}
.greenbtn:active { background-color: #467e1e; }
.greenbtn:focus { color: white; }

.redbtn {
    font-family: sans-serif;
    border: 0;
    background-color: #b63737;
    border-bottom: 3px solid #850c0c;
    color: white;
}
.redbtn:hover {
    background-color: #770a0a;
    color: white;
}
.redbtn:active { background-color: #5d0808; }
.redbtn:focus { color: white;}
a.redbtn { color: white;}


    // ------------------------------------------------------------
////// FOOTER
    // ------------------------------------------------------------

#footer {
    min-height:50px;
    background:#041B28;
    padding: 20px;
}
#backToTop {
    color: white;
    border-right: 1px solid white;
    height: 20px;
    font-size: 10.5px;
    top: 15%;
}
#backToTop p {
    width: 100px;
    color: white;
}
#backToTop a {
    color: white;
}
#backToTop a:hover {
    background-color: #09496c;
    text-decoration: none;
}
#footer_into {
    color: white;
    font-size: 9px;
    top:10%
}
#footer_info p {
    line-height: 14px;
    color: white;
}

    // ------------------------------------------------------------
////// TAB STYLING
    // ------------------------------------------------------------

.tab.selected {
    color: blue;
}

    // ------------------------------------------------------------
////// BOOTSTRAP OVERRIDES
    // ------------------------------------------------------------

.container-fluid {
    padding: 0;
}

/* Forms */
form {
  background-color: inherit;
}

.login input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
