/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require jquery.datetimepicker
 */

// Importing the "sass" way for bootstrap and controlled load order

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@import "shared_variables";
@import "shared_general";
@import "shared_buttons";
@import "home";
@import "partials";

@import "conventions";
@import "booths";
@import "maps";
@import "tags";
@import "vendors";
@import "casts";
@import "images";
@import "mapMaker";


body { // Don't want bootstrap nav bar obscuring top 50px of content lol
    margin:0;
    overflow-x:hidden;
}

.main {
    background-color: white;
    min-height: 600px;
}
.main a {
    color: #e43046  
}
.row {
    margin:0;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


    // ------------------------------------------------------------
////// RESUABLE BUTTON STYLES
    // ------------------------------------------------------------

.greenbtn {
    font-family: sans-serif;
    border: 0;
    background-color: #64b52c;
    border-bottom: 3px solid #2a7a00;
    color: white;
}
a.greenbtn { color: white; }
.greenbtn:hover { 
    background-color: #5aa227;
    color: white;
}
.greenbtn:active { background-color: #467e1e; }
.greenbtn:focus { color: white; }

.redbtn {
    font-family: sans-serif;
    border: 0;
    background-color: #b63737;
    border-bottom: 3px solid #850c0c;
    color: white;
}
.redbtn:hover {
    background-color: #770a0a;
    color: white;
}
.redbtn:active { background-color: #5d0808; }
.redbtn:focus { color: white;}
a.redbtn { color: white;}


a.btn-circle, .btn-circle {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    // Center text inside vertically by setting line-height to height of button
    text-align: center;
    vertical-align: middle;
    line-height: 50px;

    color: white;
    background-color: #e43046;
    margin:10px;
    border-bottom: 2px solid #6d0000;
}



    // ------------------------------------------------------------
////// TAB STYLING
    // ------------------------------------------------------------

.tab.selected {
    color: blue;
}

    // ------------------------------------------------------------
////// BOOTSTRAP OVERRIDES
    // ------------------------------------------------------------

.container-fluid {
    padding: 0;
}

/* Forms */
form {
  background-color: inherit;
}

.login input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
