
@import "shared_variables";

// Element that contains in all elements related to cast
// interaction on the map maker craft page
#cast_bin {
    z-index: $z_overWorkArea;
    position: fixed;
    bottom: -140px; // Initially offscreen
    width: 100%;
    background: $singed-charcoal;
    color: $paper;
    height: 140px;
}

#cast_bin_toggle {
    z-index: $z_overWorkArea;
    position: absolute;
    top: -30px;
    background: $singed-charcoal;
    color: white;
}
#cast_bin_toggle:hover {
    color: darken( white, 10% );
    background: darken( $singed_charcoal, 10% );
}

// CASTS - AKA Custom images

input#cast_uploader { // Removes the name that appears next to file uploader
    color:transparent;
}

#convention_casts {
    padding: 10px;
    width: 100%;
    height: 100%;
    position:relative;
    overflow-x: scroll;
}
#convention_casts ul {
    display: block;
    width: 100%;
    white-space: nowrap;
}
li.cast {
    display: inline-block;
    width: 100px;
}
li.cast img { width: 100%; }