// Place all the styles related to the Conventions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "shared_variables";

////// Convention Index
.top_index {
    background: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #b1b1b1;
}
.convention_list li:nth-child(odd) {
  background-color: #f0ece7;
}
.convention_list li:nth-child(even) {
  background-color: #f8f5f2;
}
.row.convention {
    padding:5px;
    padding-bottom: 10px;
    padding-top:10px;
}

// ------------------------------------------------------------
////// FORM
// ------------------------------------------------------------

.convention-form input {
  width: 100%;
  margin-bottom: 10px;
}

.convention-form button {
  margin-top: 10px;
}

.convention_type_preview {
    display: none;
    max-width: 400px;
    background-color: $tan;
    padding: 10px;
    margin-top: 10px;
}



// ------------------------------------------------------------
////// MODAL
// ------------------------------------------------------------

div#popupSort{
  position:absolute;
  left:50%;
  top:17%;
  margin-left:-40%;
  border:2px solid gray;
  font-family:'Raleway',sans-serif;
  width:80%;
}

#alphabet {
  margin: 5px;
  padding: 0px;
}

.alphabetical {
  display: none;
  margin-bottom:0px;
}

.cancel {
  background:gray;
  color:white;
  border:1px none;
  border-radius:2px;
  height:25px;
  padding: 4px;
  font-weight:700;
  text-align:center;
}

.cancel a{
  color:white;
  text-decoration:none;
}

.chronological {
  margin-bottom:0px;
}

.col-xs-1 {
  margin-top: 5px;
}

.con_id {
  display:none;
}

.con_image {
    max-width: 200px;
    float: left;
    margin-right: 20px;
    margin-left:10px;
}

.con_info {
  padding-bottom: 10px;
}

.filter {
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  text-align: center;
}


#map_title, #map_title a, #map_title a:hover {
  color:black;
  text-decoration:none;
}


#openHere {
  width:100%;
  height:100%;
  opacity:.95;
  top:0;
  left:0;
  display:none;
  position:fixed;
  background-color:#313131;
  overflow:auto
}

.popupHeader {
  font-family:"Lucida Bright", "Times New Roman";
  background-color: #e43046;
  color:white;
  font-weight:900;
  padding:10px 10px 10px 40px;
}

.submit {
  background:green;
  color:white;
  border:1px none;
  border-radius:2px;
  height:25px;
  padding: 4px;
  font-weight:700;
  text-align:center;
}

.submit a{
  color:white;
  text-decoration: none;
}

#sorting_information {
  display:none;
}

.topbar a{
  color:#b1b1b1;
}

.topbar a:hover {
  color: #e43046
}





// ------------------------------------------------------------
////// CONVENTIONS INDEX (SHOW)
// ------------------------------------------------------------

.convention_banner_container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}
// http://stackoverflow.com/questions/14562457/center-oversized-image-in-div
.convention_banner_container img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

@media only screen and (max-width: $smallPoint) { .convention_logo_container { height: 100px; width:150px; top: -50px; } }
@media only screen and (min-width: $smallPoint) { .convention_logo_container { height: 150px; width: 225px; top: -75px;} }
.convention_logo_container {
    // Vertical align content
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    overflow: hidden;
    background-color: white;

    left: 10px;
    position: relative;
    z-index: 15;
}
.convention_logo_container img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: $smallPoint) { #con_results { margin-top:50px; } }
@media only screen and (min-width: $smallPoint) { #con_results { margin-top: 75px; } }
#con_results {
    padding-top: 10px;
    background-color: white;
}

#con_google_map {
    width: 100%;
    height: 250px;
    max-width: 500px;
}

// ------------------------------------------------------------
////// CONVENTION SHOW > SUBNAV
// ------------------------------------------------------------

#sub_header {
    position: absolute;
    top: 150px;
    margin-top: 15px;
    right: 10px;
}
@media only screen and (max-width: $smallPoint) { #sub_header { left: 170px; font-size: 10px;} }
@media only screen and (min-width: $smallPoint) { #sub_header { left: 240px;} }

@media only screen and (min-width: $smallPoint) { #sub_header a { margin-left: 10px; } }
#sub_header .tanbtn { padding: 7px; }

#sub_header .selected.tab {
    background-color: $pink;
    color: white;
    text-decoration: underline;
}

// ------------------------------------------------------------
////// HANDLING DISPLAY TOGGLES FOR TOGGLED SECTIONS
// ------------------------------------------------------------
#con_results .tab_data { display: none; }
#con_results .tab_data.selected { display: block; }


// ------------------------------------------------------------
////// SHOW PARTIAL > _CONVENTION_MAPS
// ------------------------------------------------------------

ul.maps li.row i {
    display:inline-block;
}
ul.maps li.row {
    padding:10px;
}
ul.maps li:nth-child(odd) {
    background-color: #f0ece7;
}
ul.maps li:nth-child(even) {
    background-color: #f8f5f2;
}

// ------------------------------------------------------------
////// SHOW PARTIAL > _CONVENTION_VENDORS
// ------------------------------------------------------------

#convention_vendors {
  margin-bottom:0px;
}

#convention_vendors li:nth-child(odd) {
  background-color: #f0ece7;
}
#convention_vendors li:nth-child(even) {
  background-color: #f8f5f2;
}


#convention_vendors li.row a.star {
	float:right;
}
#convention_vendors li.row {
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
}

// Vendor filter modal
#filter_modal {
    top: 60px;
    min-height: initial;
    height: initial;
}
#filter_modal h3 {
    background-color: #e43036;
}
#filter_modal li {
    padding: 10px;
}
#filter_modal .jsForm_actions { border: none;}
#filter_modal input {
    width: inherit;
    margin-right: 5px;
}

.vendor_names {
  width:50%;
  color:#E43046;
}

// ------------------------------------------------------------
////// SHOW PARTIAL > _CONVENTION_ABOUT
// ------------------------------------------------------------
#additional_info {
    background-color: $paper;
    padding-top: 15px;
    border-top: 1px solid $gold;
}
#additional_info h5 {
    margin-bottom: 0;
}



// ------------------------------------------------------------
////// OWNED CONVENTIONS STYLING
// ------------------------------------------------------------
@media only screen and (min-width:45em) { // MED/LARGE
  .convention_cards li {
    width: 350px;
    padding: 15px;
  }
}
@media only screen and (max-width:45em) { // SMALL
  .convention_cards li {
    width: 100%;
    padding: 5px;
  }
}
.convention_cards li {
  display: inline-table;
  background-color: #f0ece7;
  border: 1px solid #DACCB2;
  border-radius: 5px;
  border-bottom: 2px solid #DCC69D;
  margin-bottom:5px;
  position: relative;
}
.convention_cards h4 {
  margin: 0;
}
.convention_cards form {
  background:initial;
  padding:0;
}
.convention_cards p {
  margin: 0;
}

.active_toggle {
  position: absolute;
  right:0;
  top:0;
  background:none;
  border:none;
  color: #b1b1b1;
}
.active_toggle .active {
  color: #0069d3;
}

