
/*
  --red: #e43036;
  --darkBlue: #000f27;
*/

html, body {
  width: 100%;
  height: 100%;
}

.logo {
  padding-top: 10px;
  width: 100px;
  height: auto;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

nav {
  margin-bottom: 70px;
  border: 0 !important;
}

#home { // SPLASH HOME
  background-color: #000f27;
  background-image:
      linear-gradient(
      to bottom left, 
      #000f27, #23182C
  );
  display: table;
  position: relative;
  width: 100%;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:-50px; // We hide the nav on the splash so need to take up that space
  z-index: 20000; // Covering up the default nav for splash LOL
}

#home .login {
    position: absolute;
    color: white;
    right:0;
    padding: 10px;
    padding-top: 20px;
    padding-right: 30px;
}
#home .login:hover { 
    color: #e43036;
    text-decoration: none;
}

#home h1, h3 {
  text-shadow: 2px 0px 15px rgba(0, 0, 0, 0.7);
}

#home img {
    margin-top: 50px;
    max-width:100px;
}

#home .btn {
  margin-bottom: 10px;
  width: 200px;
  background-color: rgb(0, 108, 208);//#051E2C;
  color: #FFF;
  border-color: rgb(0, 108, 208);
}

#about {
  background-color: #f8f5f2 !important;
}

#about h4 {
  color: #e43036;
}

#about h2 {
  color: #e43036;
}

#about p {
  text-align: justify;
}

footer {
  background-color: #f8f5f2 !important;
}

/* Navbar opacity changes */
.navbar {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition:    all 0.4s ease-out;
  -ms-transition:     all 0.4s ease-out;
  -o-transition:      all 0.4s ease-out;
  transition:         all 0.4s ease-out;
}

.navbar.scrolled {
  background: rgb(68, 68, 68); // IE
  background: rgba(248, 248, 248, 0.78); // nonIE
}

.navbar.scrolled .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  opacity: 0.6 !important;
}

.navbar.scrolled .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  opacity: 0.6 !important;
}

    // ------------------------------------------------------------
////// SAM'S HOME STYLES
    // ------------------------------------------------------------

.top-button {
    position:absolute;
    width: 50%;
    left:25%;
    background:#0069D3;
    color:white;
    border:1px none;
    border-radius:2px;
    height:25px;
    font-size:11px
}
.description-header {
    margin-left: 10%; 
    width: 80%; 
    line-height: 2.3; 
    border-bottom: 1px solid rgb(219, 0, 26); 
    color: rgb(219, 0, 26); 
    font-weight: 500;
}
.description {
    margin-bottom: 20px;
    margin-left:10%;
    width: 80%;
    line-height:1;
    color: #232F3E
}

div#about{
    min-height:200px;
}

#attendee_about {
    background:#F8F5F2;
}

#organizer_about {
    background: #F0ece7;
}

footer p {
  margin-bottom: 0px;
}
