@import "shared_variables";

    // ------------------------------------------------------------
////// Index - Intro banner styles
    // ------------------------------------------------------------

@media only screen and (max-width: $smallPoint) { .introContainer { height: 30vh; } }
@media only screen and (min-width: $smallPoint) { .introContainer { height: 300px; } }
.introContainer {
    padding: 10px;
    width: 100vw;
}

#introBanner {
    background-color: $tan;
}

#introBanner h1 {
    color: $pink;
    margin: 0;
    display: inline-block;
}
#introBanner em {
    font-size: 36px;
    display: inline-block;
    color: $pink;
}






























html, body {
  width: 100%;
  height: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

// #home { // SPLASH HOME
//   background-color: #000f27;
//   background-image:
//       linear-gradient(
//       to bottom left, 
//       #000f27, #23182C
//   );
//   display: table;
//   position: relative;
//   width: 100%;
//   color: #fff;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   margin-top:-60px; // We hide the nav on the splash so need to take up that space
//   z-index: 20000; // Covering up the default nav for splash LOL
// }

#home .login {
    position: absolute;
    color: white;
    right:0;
    padding: 10px;
    padding-top: 20px;
    padding-right: 30px;
}
#home .login:hover { 
    color: #1073a9;
    text-decoration: none;
}

#home h1, h3 {
  text-shadow: 2px 0px 15px rgba(0, 0, 0, 0.7);
}

#home img {
    margin-top: 50px;
    max-width:100px;
}
#home p {
    margin-bottom: 30px;
}
#signup input {
    max-width:400px;
}

#home .btn {
  margin-bottom: 10px;
  width: 200px;
  background: none;
  color: #188BFF;
  border: 1px solid #188BFF;
  font-size: 16px;
}
#home .btn:hover {
    // background-color: rgba(0, 105, 211, 0.1);
    background-color: rgba(219, 18, 212, 0.05)
}
#home .btn:last-child {
    margin-bottom: 30px;
}

#about {
  background-color: #f8f5f2 !important;
  padding-bottom: 20px;
}

#about h4 {
  color: #e43036;
}

#about h2 {
  color: #e43036;
}

#about p {
  text-align: justify;
}


    // ------------------------------------------------------------
////// FAQ
    // ------------------------------------------------------------

#faq p {
    margin-left: 20px;
}
#faq li {
    padding: 5px;
    padding-bottom:10px;
}
#faq h4 {
    color: #0069d3;
}


    // ------------------------------------------------------------
////// SAM'S HOME STYLES
    // ------------------------------------------------------------

.top-button {
    position:absolute;
    width: 50%;
    left:25%;
    background:#0069D3;
    color:white;
    border:1px none;
    border-radius:2px;
    height:25px;
    font-size:11px
}
.description-header {
    margin-left: 10%; 
    width: 80%; 
    line-height: 2.3; 
    border-bottom: 1px solid rgb(219, 0, 26); 
    color: rgb(219, 0, 26); 
    font-weight: 500;
}
.description {
    margin-bottom: 20px;
    margin-left:10%;
    width: 80%;
    line-height:1;
    color: #232F3E
}

div#about{
    min-height:200px;
}

#attendee_about {
    background:#F8F5F2;
}

#organizer_about {
    background: #F0ece7;
}

footer p {
  margin-bottom: 0px;
}
