// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workArea_container {
    padding: 5px;
    background-color: #4c4c4c;
    height: 100vh; // 100% viewport height
}

#workArea {
    background-color: white;
    position: relative;
}

.booth {
    border: 2px solid black;
    background-color: white;
    position: absolute;
}

.overlay {
    display: none;
    position: absolute;
    margin-top: 75px;// Accounting for toolbar and navbar
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(0,0,0,0.1);
}

.error {
    display: none;
    background-color: red;
}

.highlight {
    background-color: yellow;
}

.deleted {
    display: none;
}

// ----------------------------------------
// Toolbar MISC
#toolBar {
    height: 35px;
    position: relative;
    background-color: #191919;
    box-shadow: 0px 3px 5px #888888;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#save {
    width: 15%;
    min-width: 150px;
    max-width: 250px;
    background-color: #64b52c;
    border: none;
    border-bottom: 3px solid #2a7a00;
    color: white;
    height: 100%;
}
@keyframes savePop {
    0%   {background-color: #64b52c;}
    33%  {background-color: #7eda45;}
    100% {background-color: #64b52c;}
}
#save:hover {
    animation: savePop 1.5s infinite;
}

#mouseTools {
    margin-left: 25px;
    display: inline-block;
    background-color: #666666;
    padding: 10px;
    position: absolute;
    z-index: 45;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#mouseTools button {
    border: none;
    color: grey;
    background-color: black;
}
#mouseTools button.tool[data-type="select"] {
    -webkit-text-stroke: 1px grey;
    color: black;
}

button.jsAdd {
    width: 20%;
    float: right;
    color: #b75f00;
    background-color: #fbda82;
    border: none;
    border-bottom: 3px solid #b75f00;
    height: inherit;
}
button.jsAdd:hover {
    background-color: #e5b75f;
}

// ----------------------------------------
// JS Form

.jsForm {
    position: absolute;
    z-index: 100;
    background-color: #f0ece7;
    margin: auto;
    top: -50px; right: 0; left: 0; bottom: 0;
    max-width: 600px;
    width: 50%;
    height:80%;
    max-height: 1000px;
    min-height: 600px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
.jsForm h3 {
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
}
.jsForm label {
    display: block;
}
.jsForm input {
    width: 100%;
}
.jsForm textarea {
    width: 100%;
    resize:vertical 
}
.jsForm a.close_overlay{
    position: absolute;
    color: white;
    font-size: 15pt;
    margin: 8px;
    top: 0;
    right: 0;
}
.jsForm li {
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b1b1b1;
}
.jsForm li:nth-child(odd) {
  background-color: #f0ece7;
}
.jsForm li:nth-child(even) {
  background-color: #f8f5f2;
}

#vendor_form h3 {
    background-color: #0069d3;
}
#tag_form h3 {
    background-color: #e43046;
}


// ----------------------------------------
// Vendor CSS

#vendor_craft {
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
}
#vendor_header {
    height: inherit;
}
#toggle_vendors {
    width: 80%;
    color: white;
    border: none;
    background-color: #0069d3;
    border-bottom: 3px solid #000f27;
    text-align: left;
    height: inherit;
}
#toggle_vendors:hover {
    background-color: #0063be;
}
#toggle_vendors.open {
    background-color: #0033a6;
}
#add_vendor {}

#vendor_list, #tag_list {
    min-width: inherit;
    max-width: inherit;
    width: inherit;
    display: none;
    position: absolute;
    background-color: #f8f5f2;
    z-index: 45;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0,.3);
}
// Only want to style direct li children like list
#vendor_list > li:nth-child(odd), #tag_list > li:nth-child(odd) {
  background-color: #f0ece7;
}
#vendor_list > li:nth-child(even), #tag_list > li:nth-child(even) {
  background-color: #f8f5f2;
}
.vendor_name {
    color: #0069d3;
}
.drag_assign {
    color: #0069d3;
    margin: 5px;
}
.drag_assign:hover {
    color: #00bee7; 
}
.vendorview_toggle {
    color: #b1b1b1;
    float: right;
    padding:5px;
}
.vendorshow {
    padding-top:5px;
    padding-bottom:5px;
}
.vendorshow .vendorview_on {
    color: #0069d3;
}

.vendorshow_extra {
    display: none;
    padding: 5px;
    padding-bottom: 10px;
    background-color: white;
    border-top: 1px solid #b1b1b1;
}
.vendorshow_extra span {
    display: block;
}
.vendor_options {
    text-align: center;
}
.update_vendor, .destroy_vendor {
    min-width: 80px;
    width: 30%;
}

.vendor_line {
    border-bottom: 1px solid red;
    position: absolute;
}



// ----------------------------------------
// Vendorbooth CSS

ul.vendorBooth {
    display: none;
    position: absolute;
    background-color: blue;
    z-index: 40;
    min-width: 400px;
}

.vendorBooth .options {
    display: inline-block;
    float: right;
}

ul.vendorBooth li {
    margin: 2px;
}

ul.vendorBooth li:first-child {
    background-color: red;
    margin: 0;
    padding: 2px;
}

ul.vendorBooth span.dateRange {
    display: block;
    font-style: italic;
}

.close_vendorBooth {
    float: right;
}

#vendorbooth_form {
    position: absolute;
    margin-top: -75px; // Negating the offset of the overlay, which is in turn b/c of nav
    display: inline-block;
    padding: 20px;
    background-color: red;
    z-index: 200;
}

#vendorbooth_form label {
    display: inline-block;
    min-width: 50px;
}

#vendorbooth_form li {
    margin-bottom: 2px;
}




// ----------------------------------------
// Tag CSS

#tag_craft {
    margin-left: 5px;
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
}
#tag_header {
    height: inherit;
}
#toggle_tags {
    width: 80%;
    color: white;
    border: none;
    background-color: #e43046;
    border-bottom: 3px solid #6d0000;
    text-align: left;
    height: inherit;
}
#toggle_tags:hover {
    background-color: #c1191f;
}
#toggle_tags.open {
    background-color: #8e0307;
}

#tag_list {
    display: none;
}
#tag_list > li {
    color: #e43046;
}
.tagshow {
    padding: 5px;
}
.tag_options {
    float: right;
}
.tagshow_extra {
    padding: 5px;
    display: none;
    background-color: white;
    padding-bottom: 10px;
    border-top: 1px solid #b1b1b1;
}
.tagshow_extra li {
    display: inline-block;
}
.tagshow_extra li:first-child:before {
    content: initial;
}
.tagshow_extra li:before{
    content:'\00B7';
}

.assign_vendortags input {
    width: initial;
}
.assign_vendortags li {
    padding: 5px;
    border:none;
}
.assign_vendortags li input {
    margin: 5px;
}
.assign_vendortags li:nth-child(even) {
    width: 50%;
    float: right;
}
.assign_vendortags li:nth-child(odd) {
    width: 50%;
    float: left;
    border-right: 1px solid #b1b1b1;
}



