// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workArea_container {
    padding: 5px;
    background-color: #4c4c4c;
    height: 100vh; // 100% viewport height
}

#workArea {
    background-color: #f8f5f2;
    position: relative;
    
    // http://stackoverflow.com/questions/7261464/is-it-possible-to-create-a-grid-like-background-in-css-without-images-or-tables
    background-image: repeating-linear-gradient(0deg, #fff, #fff 1px, transparent 1px, transparent 20px),
    repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 20px);
}

.booth {
    border: 2px solid black;
    background-color: white;
    position: absolute;
}
.booth:focus {
    outline: none;
    box-shadow: 0 0 0 5px #fbda82;
    border: 2px solid #b75f00;
}
.booth_label {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

// .overlay can be dismissed by pressing on it
// .strong_overlay cannot be dismissed without pressing on certain links
// They look very similar however
.overlay, .strong_overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000; // Overlay on top of navbar
    background-color: rgba(0,0,0,0.3);
}

.error {
    display: none;
    background-color: red;
    text-align: center;
    padding: 5px;
    background-color: #cc0000;
    color: white;
}
.dismiss_error { color: white; }
.dismiss_error:hover { color: #ff9999; }

.highlight {
    background-color: yellow;
}

.deleted {
    display: none !important;
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Map options flaggy thing

#map_options {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    z-index: 50;
    background: red;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #2f2f2f;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    color: white;
}
#map_options span {
    position: relative;
    top: 2px;
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Toolbar MISC

#toolBar {
    height: 35px;
    position: relative;
    background-color: #191919;
    box-shadow: 0px 3px 5px #888888;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#save {
    width: 15%;
    min-width: 150px;
    max-width: 250px;
    background-color: #64b52c;
    border: none;
    border-bottom: 3px solid #2a7a00;
    color: white;
    height: 100%;

    // Janky, maybe figure out true issue later
    position: relative;
    top: -5px;
}
@keyframes savePop {
    0%   {background-color: #64b52c;}
    33%  {background-color: #7eda45;}
    100% {background-color: #64b52c;}
}
#save:hover {
    animation: savePop 1.5s infinite;
}

#mouseTools {
    margin-left: 25px;
    display: inline-block;
    background-color: #2f2f2f;
    padding: 10px;
    position: absolute;
    z-index: 45;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#mouseTools button {
    border: none;
    color: #d9d9d9;
    background: none;
}
#mouseTools button:hover {
    background-color: #434343;
}
#mouseTools button.tool[data-type="select"] {
    -webkit-text-stroke: 1px #d9d9d9;
    color: black;
}
#mouseTools .selectedTool {
    background-color: #555555;
}

button.jsAdd {
    width: 20%;
    float: right;
    color: #b75f00;
    background-color: #fbda82;
    border: none;
    border-bottom: 3px solid #b75f00;
    height: inherit;
}
button.jsAdd:hover {
    background-color: #e5b75f;
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// JS Form

.jsForm {
    padding: 0;
    position: relative;
    z-index: 100;
    background-color: #f0ece7;
    margin: auto;
    max-width: 600px;
    min-width: 350px;
    width: 50%;
    min-height: 600px;
    height: 85%;
    top: 75px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    font-family: sans-serif;
}
.jsForm h3 {
    width: 100%;
    margin: 0;
    padding: 10px;
    color: white;
}
.jsForm label {
    display: block;
}
.jsForm input {
    width: 100%;
}
.jsForm textarea {
    width: 100%;
    resize:vertical 
}
.jsForm a.close_overlay, .jsForm a.close_strong_overlay {
    position: absolute;
    color: white;
    font-size: 15pt;
    margin: 8px;
    top: 0;
    right: 0;
}
.jsForm_fields {
    border-right: 1px solid #b1b1b1;
    border-left: 1px solid #b1b1b1;
    overflow-y: scroll;
    height: 80%;
}
.jsForm li {
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b1b1b1;
}
.jsForm li:nth-child(odd) {
  background-color: #f0ece7;
}
.jsForm li:nth-child(even) {
  background-color: #f8f5f2;
}
.jsForm h4 {
    padding: 10px;
}
.jsForm_actions {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #b1b1b1;
    background-color: #f0ece7;
    position: relative;
}
.jsForm_actions button, .jsForm_actions .btn {
    width: 40%;
    margin-right: 2%;
}

#fakeMapForm h3, #map_form h3 { background-color: #2f2f2f; }
#vendor_form h3 { background-color: #0069d3; }
#vendor_form a.close_overlay:hover { color: #cce1f6; }
#tag_form h3 { background-color: #e43046; }
#tag_form a.close_overlay:hover { color: #f6c0c7; }

#fakeMapForm { // For the super janky 'fake' jsForm (but actually form)
    display: block;
}
#fakeMapForm .error {
    display: block;
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// CRAFT TIP POPUPS CSS

.craft_tip {
    display: inline-block;
    position: absolute;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}
.craft_tip.up {
    margin-top: 10px;
}

#saving {
    display:none; // Slides down
    top: 75px;
    left: 75px;
    color: #64b52c;
}
#saveSuccess, #saveError { display: none;}
#saveError { color: #cc0000; }

.triangle {
    border: none;
    position: absolute;
}

// https://css-tricks.com/snippets/css/css-triangle/
.arrow-up {
    top: -10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Vendor CSS

#vendor_craft {
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
}
#vendor_header {
    height: inherit;
}
#toggle_vendors {
    width: 80%;
    color: white;
    border: none;
    background-color: #0069d3;
    border-bottom: 3px solid #000f27;
    text-align: left;
    height: inherit;
}
#toggle_vendors:hover {
    background-color: #0063be;
}
#toggle_vendors.open {
    background-color: #0033a6;
}
#add_vendor {}

#vendor_list, #tag_list {
    min-width: inherit;
    max-width: inherit;
    width: inherit;
    position: absolute;
    background-color: #f8f5f2;
    z-index: 45;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0,.3);
}
// Only want to style direct li children like list
#vendor_list > ul > li:nth-child(odd), #tag_list > ul > li:nth-child(odd) {
  background-color: #f0ece7;
}
#vendor_list > ul > li:nth-child(even), #tag_list > ul > li:nth-child(even) {
  background-color: #f8f5f2;
}
.vendor_name {
    color: #0069d3;
}
.drag_assign {
    color: #0069d3;
    margin: 5px;
}
.drag_assign:hover {
    color: #00bee7; 
}
.vendorview_toggle {
    color: #b1b1b1;
    float: right;
    padding:5px;
}
.vendorshow {
    padding-top:5px;
    padding-bottom:5px;
}
.vendorshow .vendorview_on {
    color: #0069d3;
}

.vendorshow_extra {
    display: none;
    padding: 5px;
    padding-bottom: 10px;
    background-color: white;
    border-top: 1px solid #b1b1b1;
}
.vendorshow_extra span {
    display: block;
}
.vendor_options {
    text-align: center;
}
.update_vendor, .destroy_vendor {
    min-width: 80px;
    width: 30%;
}

.vendor_line {
    border-bottom: 1px solid red;
    position: absolute;
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Vendorbooth CSS

ul.vendorBooth {
    display: none;
    position: absolute;
    background-color: #f0ece7;
    z-index: 40;
    min-width: 300px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

.vendorBooth .options {
    display: inline-block;
    float: right;
}
.vendorBooth a {
    margin-left: 5px;
}

ul.vendorBooth li {
    margin: 5px;
}

ul.vendorBooth li:first-child {
    background-color: #0069d3;
    color: white;
    margin: 0;
    padding: 5px;
}

ul.vendorBooth span.dateRange {
    display: block;
    font-style: italic;
}

.close_vendorBooth {
    float: right;
    color: white;
}
.close_vendorBooth:hover { color: #cce1f6; }

#vendorbooth_form {
    font-family: sans-serif;
    padding: 0;
    position: absolute;
    display: inline-block;
    background-color: #f0ece7;
    z-index: 200;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#vendorbooth_form ul {
    padding: 10px;
}
#vendorbooth_form label {
    display: inline-block;
    min-width: 50px;
}
#vendorbooth_form li {
    margin-bottom: 2px;
}
#vendorbooth_form h4 {
    background-color: #0069d3;
    color: white;
    margin: 0;
    padding: 10px;
}



// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Tag CSS

#tag_craft {
    margin-left: 5px;
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
}
#tag_header {
    height: inherit;
}
#toggle_tags {
    width: 80%;
    color: white;
    border: none;
    background-color: #e43046;
    border-bottom: 3px solid #6d0000;
    text-align: left;
    height: inherit;
}
#toggle_tags:hover {
    background-color: #c1191f;
}
#toggle_tags.open {
    background-color: #8e0307;
}

#tag_list > li {
    color: #e43046;
}
.tagshow {
    padding: 5px;
}
.tagshow a { color: #e43046; }
.tagshow a:hover { color: #c1191f; }
.tag_options {
    float: right;
}
.tag_options .update_tag {
    margin-right: 3px;
}
.tagshow_extra {
    padding: 5px;
    display: none;
    background-color: white;
    padding-bottom: 10px;
    border-top: 1px solid #b1b1b1;
}
.vendor_tags { // Listing vendor tags from the vendor side
    padding: 0;
}
.tagshow_extra li, .vendor_tags li {
    display: inline-block;
}
.tagshow_extra li:first-child:before, .vendor_tags li:first-child:before {
    content: initial;
}
.tagshow_extra li:before, .vendor_tags li:before { // A dot and a space before each
    content:'\00B7\00a0';
}

.assign_vendortags input {
    width: initial;
}
.assign_vendortags li {
    padding: 5px;
    border:none;
}
.assign_vendortags li input {
    margin: 5px;
}
.assign_vendortags li:nth-child(even) {
    width: 50%;
    float: right;
}
.assign_vendortags li:nth-child(odd) {
    width: 50%;
    float: left;
    border-right: 1px solid #b1b1b1;
}


// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// Tutorial text CSS

.no_models {
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
.no_models strong {
    display: block;
}
i.no_models {
    font-size: 30px;
    color: #C1BBB4;
    padding: 3px;
}














