// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapArea_container {
    padding: 5px;
    background-color: #4c4c4c;
    height: 100vh; // 100% viewport height
}

#mapArea {
    background-color: white;
    position: relative;
}

