// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DELETE LATER
.block {
    width: 100px;
    height: 100px;
}

#workArea {
    background-color: red;
    position: relative;
}

.booth {
    background-color: blue;
    position: absolute;
}