@import "shared_variables";

    // ------------------------------------------------------------
////// NAV BAR
    // ------------------------------------------------------------
.nav {
    min-height: 50px !important;
    background: white;
}
#navlogo img {
    height: 40px;
    margin-top: 5px;
}
.nav ul {
    float: right;
    margin-top: 15px;
}
.nav li { display: inline-block; }


    // ------------------------------------------------------------
////// FOOTER
    // ------------------------------------------------------------

#footer {
    min-height:50px;
    background: $charcoal;
    padding: 20px;
    color: $smoke;
    text-align: center;
}
// #backToTop {
//     color: white;
//     border-right: 1px solid white;
//     height: 20px;
//     font-size: 10.5px;
//     top: 15%;
// }
// #backToTop p {
//     width: 100px;
//     color: white;
// }
// #backToTop a {
//     color: white;
// }
// #backToTop a:hover {
//     background-color: #09496c;
//     text-decoration: none;
// }
// #footer_into {
//     color: white;
//     font-size: 9px;
//     top:10%
// }
// #footer_info p {
//     line-height: 14px;
//     color: white;
// }

