@import "shared_variables";

    // ------------------------------------------------------------
////// NAV BAR
    // ------------------------------------------------------------
.nav {
    min-height: 50px !important;
    background: white;
}
#navlogo img {
    height: 40px;
    margin-top: 5px;
}
a#hamburger-nav {
    font-size: 18px;
    margin-top: 10px;
    color: $gold;
    display: block;
}
#hamburger-nav-items {
    display: none;
    position: absolute;
    z-index: 2100;
    background-color: white;
    right: 15px;
    margin-top: 10px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}
#hamburger-nav-items li {
    border-top: 1px solid $drytan;
    padding: 10px;
    text-align: center;
}
#hamburger-nav-items li:first-child { border-top: none; }
#hamburger-nav-items li:nth-child(even) { background-color: white; }
#hamburger-nav-items li:nth-child(even):hover { background-color: darken(white, 10%); }
#hamburger-nav-items li:nth-child(odd) { background-color: $paper; }
#hamburger-nav-items li:nth-child(odd):hover { background-color: darken($paper, 5%); }
#hamburger-nav-items .triangle {
    border-bottom: 10px solid $paper;
    right: 0;
}
#hamburger-nav-items a, #hamburger-nav-items a:hover { color: $pink; }
// .nav ul {
//     float: right;
//     margin-top: 15px;
// }
// .nav li { display: inline-block; }


    // ------------------------------------------------------------
////// FOOTER
    // ------------------------------------------------------------

#footer {
    min-height:50px;
    background: $charcoal;
    padding: 20px;
    color: $smoke;
    text-align: center;
}
