

// Small tweaks to most CRUD pages to make more responsive



// Med/large
@media only screen and (min-width:45em) {
    #home { // SPLASH HOME
        height: 90vh;
        min-height: 600px;
    }
    .back_button {
        display: none;
    }

}

// Small
@media only screen and (max-width:45em) {

    .navbar-header {
        width:100%;
        text-align: center;
    }
    #navlogo {
        position: absolute;
        left: 45%;
    }
    .back_button {
        float: left;
    }

    #home .logo {
        width: 75px;
    }


}