

// Small tweaks to most CRUD pages to make more responsive





// Med/large
@media only screen and (min-width:45em) {
    #home { // SPLASH HOME
        height: 90vh;
        min-height: 600px;
    }
    // .back_button {
    //     display: none;
    // }

    section {
        padding-left: 15px;
        padding-right: 15px;
    }

}

// Small
@media only screen and (max-width:45em) {



    section {
        padding-left: 5px;
        padding-right: 5px;
    }


}