
// =====================================================
// Shared colors, fonts, resources used throughout the app
// To use, add "@import "shared_variables"; " to top of file
// =====================================================


// Used in buttons
$tan: #eae2d0;
$drytan: #E2D4B4;

$gold: #de9733;

// Used for backgrounds
$paper: #f8f5f2;

// Buttons, header, and more
$pink: #e7424b;

$charcoal: #313131;
$singed-charcoal: #2f2f2f; // Very slightly darker than charcoal
$smoke: #676767;

// EM measurements of width breakpoints used in responsive aspects
$mediumPoint: 60em;
$smallPoint: 45em;


@font-face {
    font-family: ChapparalPro-Regular;
    src: url(../fonts/ChaparralPro-Regular.otf);
}

// Z-indexes
$z_overWorkArea: 45; // Appears over the main "work bench" area
$z_overBooth: 200; // Appears over booth elements
$z_overlay: 2000; // Appears over almost everything