@import "shared_variables";

// =====================================================
// General file that sets styles for base elements such as H1, el, em, etc...
// Font styling for headers, body, emphasis, etc throughout
// =====================================================

    // ------------------------------------------------------------
////// HEADER TEXTS
    // ------------------------------------------------------------

h1 {
    // add font style, size
}

h3 {
    font-size: 18px;
    text-shadow: initial;
}
h4 {
    font-weight: 400;
    font-size: 16px;
    color: $pink;
}
h5 {
    font-weight: 600;
}


    // ------------------------------------------------------------
////// OTHER
    // ------------------------------------------------------------

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

hr {
    border: none;
    border-bottom: 1px solid $paper;
}

section {
    
}

    // ------------------------------------------------------------
////// Section styles
    // ------------------------------------------------------------

.darken {
    background-color: $charcoal;
}
.darken h3 {
    color: white;
    font-weight: 200;
}

    // ------------------------------------------------------------
////// FORMS
    // ------------------------------------------------------------


    // ------------------------------------------------------------
////// UTILITY
    // ------------------------------------------------------------

.noPad {
    padding:0;
}

ul.unordered {
    list-style: none;
    margin: 0;
    padding:0;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
