
<ul class="maps">
    <% maps.each do |map| %>
    <li class="row convention">
        <%= link_to map do %>
            <h5> <i class="fa fa-map"></i> <%= map.name %></h5>
        <% end %>
    </li>
    <% end %>
</ul>