
<%# Contains convention title, description, address, contacts %>


<div class="row con_info">
    <div id="title">
        <h3><%= @convention.name %></h3>
        <span><%= @convention.dateRange() %></span>
    </div>
</div>