<div class = "container convention-new">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-offset-2">
      <h2>Edit convention</h2>

      <%= render 'form' %>

    </div>
  </div>
</div>
